#desc{
    width: 100%;
    height: 15rem;
    resize: none;
}

#guestName{
    width: 100%;
}

#guestEmail{
    width: 100%
}

#adultTicket{
    text-align: center;
}

#childTicket{
    text-align: center;
}

#studentTicket{
    text-align: center;
}

#concessionTicket{
    text-align: center;
}

#rating{
    width: 100%;
}

#filmName{
    width: 100%;
}

#email{
    width:100%;
}

#subject{
    width: 100%;
}

#emailBody{
    width:100%;
    height:10rem;
}

#name{
    width:100%;
}

hr{
    color: white;
}

.logotext{
    color: grey;
}

.logotext:hover {
    color: lightgray;
}

.homenav{
    color:grey;
}

.homenav:hover{
    color: lightgray;
}

.titleFormatting {
    color:#2e352c;
    font-size: 35pt;
    padding-top:3%;
    padding-bottom:1%;
    font-weight:bold;
    text-align:center;
}


.greyBoxes {
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 20px;
    margin-top:20px;
}

.ellipsesEnd {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.galleryButtons {
    position:absolute;
    right: 0;
    bottom: 0;
    color: white;
    background-color:rgba(0,0,0,0.7)
}

.showingTodayPics {
    height:450px;
    width:300px;
}