@main("About Us") {
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Round About - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="@routes.Assets.at("templates/AboutUsPage/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="@routes.Assets.at("templates/AboutUsPage/css/round-about.css")" rel="stylesheet">

  </head>

  <body>
    <!-- Page Content -->
    <div class="container">

      <!-- Introduction Row -->
      <h1 class="my-4 text-center">About Us</h1>
      <!-- Team Members Row -->
      <div class="row" style="color:white">
        <div class="col-lg-12">
          <h2 class="my-4" style="color:black">Our Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <div style="background-color:rgba(0,0,0,0.5); margin-top:20px">
          <h3>Adam Shahzad</h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <div style="background-color:rgba(0,0,0,0.5); margin-top:20px">
          <h3>Damien Butterworth</h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <div style="background-color:rgba(0,0,0,0.5); margin-top:20px">
          <h3>Fahri Ulucay</h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4" style="margin-right:auto; margin-left:auto;">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <div style="background-color:rgba(0,0,0,0.5); margin-top:20px">
          <h3>Marianne Pearson</h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
        </div>
      </div>
      </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="@routes.Assets.at("templates/AboutUsPage/vendor/jquery/jquery.min.js")"></script>
    <script src="@routes.Assets.at("templates/AboutUsPage/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>

  </body>

</html>
}
