@()(implicit messages: Messages)

@main("Classifications"){
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Classifications</title>

      <!-- Bootstrap core CSS -->
    <link href="@routes.Assets.at("templates/Bare/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">

  </head>

  <body>
      <!-- Page Content -->
    <h1 class="mt-5 titleFormatting">How does Classification work?</h1>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center greyBoxes">
          <p class="lead">
            Films for theatrical release are normally classified by at least two Compliance Officers using the published Guidelines.
            Compliance Officers look at issues such as discrimination, drugs, horror, language, imitable behaviour, nudity, sex, sexual violence, theme and violence when making decisions. They also consider context, the tone and impact of a work (eg how it makes the audience feel)
          </p>
          <h1 class="mt-5">Guidelines</h1>
          <p>
            Every 4-5 years, the BBFC carries out a major public consultation exercise to find out what the public thinks about the age rating of films and videos before they are released and whether the BBFC’s classification standards meet public concerns.
            The BBFC adjusts its standards and criteria in response to any changes in public attitudes.
            These standards are laid out in the BBFC’s Classification Guidelines which can be downloaded below. The Guidelines detail what is acceptable at each age category, from U to R18. They also set out the laws and principles which impact on the BBFC’s work.
          </p>
          <br>
        <br>
          <a><img src = @routes.Assets.at("images/Banner-Image-2014---10-(0-00-00-00)_1.jpg")></a>
          <br>
          <h1>What the classifacation means?</h1>
          <div class = "col-lg-12 text-left">
            <ul class="list-unstyled">
              <li>
                <h1 class="mt-5"><img height="60px" width="60px" src="@routes.Assets.at("images/ageRating/u.png")">   Universal</h1>
                <p>A U film should be suitable for audiences aged four years and over, although it is impossible to predict what might upset any particular child.</p>
                <ul class="list-uncentre">
                  <li>Discriminatory language or behaviour is unlikely to be acceptable unless clearly disapproved of.</li>
                  <li>References to illegal drugs or drug misuse must be infrequent and innocuous, or have a clear educational purpose or anti-drug message suitable for young children.</li>
                  <li>Potentially dangerous or anti-social behaviour which young children may copy must be clearly disapproved of. No emphasis on realistic or easily accessible weapons.</li>
                  <li>Infrequent use only of very mild bad language.</li>
                  <li>Occasional nudity, with no sexual context.</li>
                  <li>Only very mild sexual behaviour (for example, kissing) and references to such behaviour.</li>
                  <li>Scary or potentially unsettling sequences should be mild, brief and unlikely to cause undue anxiety to young children. The outcome should be reassuring.</li>
                  <li>Violence will generally be very mild. Mild violence may be acceptable if it is justified by context (for example, comedic, animated, wholly unrealistic)</li>
                </ul>
                <br><br>
            <li>
               <h1 class="mt-5"><img height="60px" width="60px" src="@routes.Assets.at("images/ageRating/pg.png")">   Parental Guidance</h1>
              <p>General viewing, but some scenes may be unsuitable for young children. A PG film should not unsettle a child aged around eight or older. Unaccompanied children of any age may watch, but parents are advised to consider whether the content may upset younger, or more sensitive, children.</p>
              <ul class="list-uncentre">
                <li>Discriminatory language or behaviour is unlikely to be acceptable unless clearly disapproved of, or in an educational or historical context, or in a particularly dated work with no likely appeal to children. Discrimination by a character with whom children can readily identify is unlikely to be acceptable.</li>
                <li>References to illegal drugs or drug misuse must be innocuous or carry a suitable anti-drug message.</li>
                <li>No detail of potentially dangerous behaviour which young children are likely to copy, if that behaviour is presented as safe or fun. No glamorisation of realistic or easily accessible weapons such as knives. No focus on anti-social behaviour which young children are likely to copy.</li>
                <li>Mild bad language only. Aggressive or very frequent use of mild bad language may result in a work being passed at a higher category.</li>
                <li>There may be nudity with no sexual context.</li>
                <li>Sexual activity may be implied, but should be discreet and infrequent. Mild sex references and innuendo only.</li>
                <li>Frightening sequences or situations where characters are in danger should not be prolonged or intense. Fantasy settings may be a mitigating factor.</li>
                <li>Violence will usually be mild. However there may be moderate violence, without detail, if justified by its context (for example, history, comedy or fantasy).</li>
              </ul><br><br>
            </li>
              <li>
                <h1 class="mt-5"><img height="60px" width="60px" src="@routes.Assets.at("images/ageRating/12a.png")">   Suitable for 12 years and over </h1>
                <p>Films classified 12A and video works classified 12 contain material that is not generally suitable for children aged under 12. No one younger than 12 may see a 12A film in a cinema unless accompanied by an adult. Adults planning to take a child under 12 to view a 12A film should consider whether the film is suitable for that child.</p>
                <ul class="list-uncentre">
                  <li>Discriminatory language or behaviour must not be endorsed by the work as a whole. Aggressive discriminatory language or behaviour is unlikely to be acceptable unless clearly condemned.</li>
                  <li>Misuse of drugs must be infrequent and should not be glamorised or give instructional detail.</li>
                  <li>No promotion of potentially dangerous behaviour which children are likely to copy. No glamorisation of realistic or easily accessible weapons such as knives. No endorsement of anti-social behaviour.</li>
                  <li>There may be moderate language. Strong language may be permitted, depending on the manner in which it is used, who is using the language, its frequency within the work as a whole and any special contextual justification.</li>
                  <li>There may be nudity, but in a sexual context it must be brief and discreet.</li>
                  <li>Sexual activity may be briefly and discreetly portrayed. Moderate sex references are permitted, but frequent crude references are unlikely to be acceptable.</li>
                  <li>There may be moderate physical and psychological threat and horror sequences. Although some scenes may be disturbing, the overall tone should not be. Horror sequences should not be frequent or sustained.</li>
                  <li>There may be moderate violence but it should not dwell on detail. There should be no emphasis on injuries or blood, but occasional gory moments may be permitted if justified by the context. Sexual violence may only be implied or briefly and discreetly indicated, and its depiction must be justified by context.</li>
                </ul><br><br>
            <li>
              <h1 class="mt-5"><img height="60px" width="60px" src="@routes.Assets.at("images/ageRating/15.png")">   Suitable only for 15 years and over</h1>
              <p>No one younger than 15 may see a 15 film in a cinema.</p>
              <ul class="list-uncentre">
                <li>The work as a whole must not endorse discriminatory language or behaviour, although there may be racist, homophobic or other discriminatory themes and language.</li>
                <li>Drug taking may be shown but the work as a whole must not promote or encourage drug misuse (for example, through instructional detail). The misuse of easily accessible and highly dangerous substances (for example, aerosols or solvents) is unlikely to be acceptable.</li>
                <li>Dangerous behaviour (for example, hanging, suicide and self-harming) should not dwell on detail which could be copied. Whether the depiction of easily accessible weapons is acceptable will depend on factors such as realism, context and setting</li>
                <li>There may be strong language. Very strong language may be permitted, depending on the manner in which it is used, who is using the language, its frequency within the work as a whole and any special contextual justification.</li>
                <li>There are no constraints on nudity in a non-sexual or educational context. There may be nudity in a sexual context but usually without strong detail.</li>
                <li>Sexual activity may be portrayed, but usually without strong detail. There may be strong verbal references to sexual behaviour, but the strongest references are unlikely to be acceptable unless justified by context. Works whose primary purpose is sexual arousal or stimulation are unlikely to be acceptable.</li>
                <li>There may be strong threat and horror. A sustained focus on sadistic or sexual threat is unlikely to be acceptable.</li>
                <li>Violence may be strong but should not dwell on the infliction of pain or injury. The strongest gory images are unlikely to be acceptable. Strong sadistic violence is also unlikely to be acceptable. There may be detailed verbal references to sexual violence but the depiction of sexual violence must be discreet and justified by context.</li>
              </ul><br><br>
            </li>
              <li>
                <h1 class="mt-5"><img height="60px" width="60px" src="@routes.Assets.at("images/ageRating/18.png")">   Suitable only for adults</h1>
                <p>No one younger than 18 may see an 18 film in a cinema. Adults should be free to choose their own entertainment. Genrally, most things are allowed with the following exeptions </p>
                <ul class="list-uncentre">
                  <li>where the material is in breach of the criminal law, or has been created through the commission of a criminal offence</li>
                  <li>where material or treatment appears to us to risk harm to individuals or, through their behaviour, to society. For example, the detailed portrayal of violent or dangerous acts, or of illegal drug use, which may cause harm to public health or morals. This may include portrayals of sadistic or sexual violence which make this violence look appealing; reinforce the suggestion that victims enjoy sexual violence; or which invite viewer complicity in sexual violence or other harmful violent activities</li>
                  <li>where there are more explicit images of sexual activity in the context of a sex work or where the primary purpose of the images in question is sexual arousal In the case of video works, which may be more accessible to younger viewers, intervention may be more frequent than for cinema films.</li>
                </ul>
              </li>
              <li>
            </ul>
          </div>
        </div>
      </div>
    </div>

      <!-- Bootstrap core JavaScript -->
    <script src="@routes.Assets.at("templates/Bare/vendor/jquery/jquery.min.js")"></script>
    <script src="@routes.Assets.at("templates/Bare/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>

  </body>

</html>

}