
@(suggestions: scala.collection.mutable.Set[Discussion],disccusionForm: Form[Discussion],movies: Movies)(implicit messages: Messages)
@main("Opening Times") {
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Discussion Board</title>

    <!-- Bootstrap core CSS -->
    <link href="@routes.Assets.at("templates/Bare/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }
      table{
          margin: 0 auto;
      }

    </style>

  </head>

  <body>

    <!-- Navigation -->

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5" style="padding: 2rem;">Discussion Board</h1>

          <div style="text-align: left; padding-left: 5rem; margin-bottom: 3rem">
          @helper.form(routes.Application.discussion) {
            @helper.inputText(disccusionForm("name"), '_label -> "Name", '_showConstraints -> false)
            @helper.inputText(disccusionForm("email"), '_label -> "Email", '_showConstraints -> false)
            @helper.inputText(disccusionForm("filmName"), '_label -> "Film Name", '_showConstraints -> false)
            @helper.inputText(disccusionForm("rating"), '_label -> "Rating", '_showConstraints -> false)
            @helper.textarea(disccusionForm("desc"), '_label -> "Description", '_showConstraints -> false)
            <button type="submit">Submit</button>

          }
          </div>


          @for(disc <- suggestions) {
            <div style="background-color: rgba(0,0,0,0.5); padding: 2rem">
              <img src="http://image.tmdb.org/t/p/w640/@movies.posterPath(0)" style="width: 200px; height: 320px; float:left">
              <div style="align:right; padding-left: 25%;text-align:left">
                <p><b>Name:</b> @disc.name</p>
                <p><b>Email:</b> @disc.email</p>
                <p><b>Film Title:</b> @disc.filmName</p>
                <p><b>Rating:</b> @disc.rating/5</p>
                <p><b>Description:</b></p><p>@disc.desc</p>

              </div>
            </div>
            <br>
            }
          <p class="lead"></p>
        </div>
      </div>
    </div>




    <!-- Bootstrap core JavaScript -->
    <script src="@routes.Assets.at("templates/Bare/vendor/jquery/jquery.min.js")"></script>
    <script src="@routes.Assets.at("templates/Bare/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>

  </body>

</html>
}

