@(emailForm:Form[Emails])(implicit messages: Messages)
@main("Email") {
<!DOCTYPE html>
    <html lang="en">

        <head>

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">

            <title></title>

                <!-- Bootstrap core CSS -->
            <link href="@routes.Assets.at("templates/Bare/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">

                <!-- Custom styles for this template -->
            <style>
                    body {
                        padding-top: 54px;
                    }
                    media (min-width: 992px) {
                    body {
                        padding-top: 56px;
                    }
                    }
                    table{
                        margin: 0 auto;
                    }

            </style>

        </head>

        <body>

                <!-- Navigation -->

                <!-- Page Content -->

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="mt-5" style="padding-top:2rem;"></h1>
                    <div class="container" style="background-color: rgba(0,0,0,0.5);width: 70%;
                        margin-right: auto;
                        margin-left: auto;
                        margin-bottom: 50px;
                        ">
                        <h1>Email</h1>
                        <div style="text-align:left; width:60%">
                        @helper.form(routes.Application.createEmail()) {
                            @helper.inputText(emailForm("email"), '_label -> "Your email: ", '_showConstraints -> false)
                            @helper.inputText(emailForm("subject"), '_label -> "Subject: " , '_showConstraints -> false)
                            @helper.textarea(emailForm("emailBody"), '_label -> "" , '_showConstraints -> false)
                            <button type="submit">Submit</button>

                        }
                        </div>
                    </div>
                </div>
            </div>

                <!-- Bootstrap core JavaScript -->
            <script src="@routes.Assets.at("templates/Bare/vendor/jquery/jquery.min.js")"></script>
            <script src="@routes.Assets.at("templates/Bare/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>

        </body>

    </html>
}

