@(myForm:Form[Search])(implicit messages: Messages)
@main("Homepage"){
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Homepage</title>

    <!-- Bootstrap core CSS -->
    <link href="@routes.Assets.at("templates/Homepage/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="@routes.Assets.at("templates/Homepage/css/half-slider.css")" rel="stylesheet">

  </head>

  <body>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active" style="background-image: url('https://image.tmdb.org/t/p/w1400_and_h450_bestv2/@Movies.backdropPath(5,Movies.newMovies)'">
            <div class="carousel-caption d-none d-md-block greyBoxes">
              <h3>@Movies.title(5,Movies.newMovies)</h3>
              <p>@Movies.overview(5,Movies.newMovies)</p>
            </div>
          </div>
            <div class="carousel-item" style="background-image: url('http://s3.amazonaws.com/digitaltrends-uploads-prod/2017/03/samsung-cinema-screen-1.jpg')">
            </div>
          <div class="carousel-item" style="background-image: url('https://image.tmdb.org/t/p/w1400_and_h450_bestv2/@Movies.backdropPath(10,Movies.newMovies)'">
            <div class="carousel-caption d-none d-md-block greyBoxes">
              <h3>@Movies.title(10,Movies.newMovies)</h3>
              <p>@Movies.overview(10,Movies.newMovies)</p>
            </div>
          </div>
            <div class="carousel-item" style="background-image: url('https://www.kcet.org/sites/kl/files/styles/kl_image_hero/public/thumbnails/image/istock_000032312038_large.jpg?itok=3BbQnWSM')">
            </div>
          <div class="carousel-item" style="background-image: url('https://image.tmdb.org/t/p/w1400_and_h450_bestv2/@Movies.backdropPath(3,Movies.newMovies)')">
            <div class="carousel-caption d-none d-md-block greyBoxes">
              <h3>@Movies.title(3,Movies.newMovies)</h3>
              <p>@Movies.overview(3,Movies.newMovies)</p>
            </div>
          </div>
        </div>

              <!-- Slide Four -->

      </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
    <div style="width:100%; padding-top:2rem; margin-bottom:50px;background-color: rgba(0,0,0,0.5); text-align: center"><h3 style="color:white;">Showing Today</h3>
      <div class="row" style="width: 100%; padding-left: 5%; padding-bottom: 2rem">
        <a style="padding: 0.2rem" class="nav-link" href=@routes.Application.individualMovie(0,false,"")><img  src="http://image.tmdb.org/t/p/w640/@Movies.posterPath(0,Movies.currentMovies)" style="width:220px ;height:350px"></a>
        <a style="padding: 0.2rem" class="nav-link" href=@routes.Application.individualMovie(1,false,"")><img  src = "http://image.tmdb.org/t/p/w640/@Movies.posterPath(1,Movies.currentMovies)" style="width:220px ;height:350px"></a>
        <a style="padding: 0.2rem" class="nav-link" href=@routes.Application.individualMovie(2,false,"")><img  src = "http://image.tmdb.org/t/p/w640/@Movies.posterPath(2,Movies.currentMovies)" style="width:220px ;height:350px"></a>
        <a style="padding: 0.2rem" class="nav-link" href=@routes.Application.individualMovie(3,false,"")><img  src = "http://image.tmdb.org/t/p/w640/@Movies.posterPath(3,Movies.currentMovies)" style="width:220px ;height:350px"></a>
        <a style="padding: 0.2rem" class="nav-link" href=@routes.Application.individualMovie(4,false,"")><img  src = "http://image.tmdb.org/t/p/w640/@Movies.posterPath(4,Movies.currentMovies)" style="width:220px ;height:350px"></a>
        <a style="padding: 0.2rem" class="nav-link" href=@routes.Application.individualMovie(5,false,"")><img  src = "http://image.tmdb.org/t/p/w640/@Movies.posterPath(5,Movies.currentMovies)" style="width:220px ;height:350px"></a>
      </div>
    </div>

  <div style="width:75%; margin-right:auto; margin-left:auto; margin-top:50px; margin-bottom:50px;background-color: rgba(0,0,0,0.5);"><h3 style="color:white;padding-left:5%; padding-top: 10px; padding-bottom: 10px">Great Offers </h3>
    <div class="row">
      <img src="@routes.Assets.at("images/offer.jpg")" style="width: 25%; height:25%; margin-right: 5%; margin-left: 5%; padding-bottom: 20px">
      <div style="width: 60%; color: white">
        <ul>
          <b>Four For Two</b><p>4 Tickets for the price of 2 on Saturday's for families</p>
          <b>Back in Time</b><p>Old showings for the ages on a Sunday afternoon</p>
          <b>Bottomless Popcorn</b><p>Unlimited popcorn for £6.99 for you and your friends to share</p>
          <b>Date Night</b><p>Romantic movies played for that special someone in your life</p>
          <b>Infinity Card</b><p>Watch any movie you want when you want for a small fee of £15.99 a month</p>
        </ul>
      </div>
    </div>
  </div>



    <!-- Bootstrap core JavaScript -->
    <script src="@routes.Assets.at("templates/Homepage/vendor/jquery/jquery.min.js")"></script>
    <script src="@routes.Assets.at("templates/Homepage/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>

  </body>

</html>
}




