@(index:Int, newReleases:Boolean, searchString:String)(implicit messages: Messages)

@main("Individual Movie"){
<!DOCTYPE html>
<html lang="en">

  <head>
      <!--(title : String, posterPath:String, overview:String,backdropPath:String,releaseData:String, index:Int)-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Individual Movie</title>

      <style>
          body{
              @if(newReleases == true){
              background-image: url('https://image.tmdb.org/t/p/w1400_and_h450_bestv2/@Movies.backdropPath(index, Movies.newMovies)');
          }
              @if(newReleases==false){
              background-image: url('https://image.tmdb.org/t/p/w1400_and_h450_bestv2/@Movies.backdropPath(index, Movies.currentMovies)');
          }

          }
      </style>

    <!-- Bootstrap core CSS -->
    <link href="@routes.Assets.at("templates/Movie%20Page/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="@routes.Assets.at("templates/Movie%20Page/css/portfolio-item.css")" rel="stylesheet">

  </head>

  <body>
    <div class="container">
      @if(searchString.equals("")){
          @if(newReleases){
          <br>
          <div class="col-lg-12 text-left" style="background-color: rgba(0,0,0,0.6); margin-bottom:20px; color:white;">
            <div class = "row">
                <div style="width:350px">
                <img style="margin-left:2%; margin-top:auto;margin-bottom:auto; padding-top:2%; padding-bottom:2%;" src = "http://image.tmdb.org/t/p/w640/@Movies.posterPath(index,Movies.newMovies)" width="350px" height="525px">
                <a href="@routes.Application.ticketSelectionForm(Movies.title(index, Movies.newMovies))" class="btn btn-primary" style="width:80%;margin-left:12%;margin-right:8%;color: white; background-color: rgba(0,0,0,0.7);margin-top:20px; margin-bottom:20px">Book Now</a>
                </div>
                <div style="width: 61%; margin-left:50px;">
                <h1>@Movies.title(index,Movies.newMovies)</h1>
                <br>
                <p style="font-size:14pt">@Movies.overview(index,Movies.newMovies)</p>
                <p style="font-size:14pt">Release Date: @Movies.releaseData(index,Movies.newMovies)</p>
                <p style="font-size:14pt">Rating: @Movies.voteAvg(index,Movies.newMovies) / 10</p>
                <p style="font-size:14pt">Language: @Movies.originalLanguage(index, Movies.newMovies)</p>
                <p style="font-size:14pt">You might also enjoy: </p>
                  @for(i <- 0 to Movies.length(Movies.newMovies) - 1) {
                      @if(Movies.genreIDs(i, Movies.newMovies).toString().replace(",", "").replace("List(","").split(" ").
                              exists(Movies.genreIDs(index, Movies.newMovies).toString().replace(",", "").replace("List(","").split(" ").contains)) {
                          @if(Movies.title(i,Movies.newMovies) != Movies.title(index,Movies.newMovies)) {
                              <a style="width:100px; margin-right:0.5%; margin-left:0.5%" href=@routes.Application.individualMovie(i,true,"")><img style="margin-bottom:20px" src = "http://image.tmdb.org/t/p/w640/@Movies.posterPath(i, Movies.newMovies)" width="100px" height="150px"></a>
                          }
                      }
                  }


              </div>
          </div>
          </div>
        </div>
        } else {
        <br>
        <div class="col-lg-12 text-left" style="background-color: rgba(0,0,0,0.6); margin-bottom:20px; color:white;">
          <div class = "row">
            <div style="width:350px">
              <img style="margin-left:2%; margin-top:auto;margin-bottom:auto; padding-top:2%; padding-bottom:2%;" src = "http://image.tmdb.org/t/p/w640/@Movies.posterPath(index,Movies.currentMovies)" width="350px" height="525px">
                <a href="@routes.Application.ticketSelectionForm(Movies.title(index, Movies.currentMovies))" class="btn btn-primary" style="width:80%;margin-left:12%;margin-right:8%;color: white; background-color: rgba(0,0,0,0.7);margin-top:20px; margin-bottom:20px">Book Now</a>
            </div>
            <div style="width: 61%; margin-left:50px;">
              <h1>@Movies.title(index,Movies.currentMovies)</h1>
              <p style="font-size:14pt">@Movies.overview(index,Movies.currentMovies)</p>
              <p style="font-size:14pt">Release Date: @Movies.releaseData(index,Movies.currentMovies)</p>
              <p style="font-size:14pt">Rating: @Movies.voteAvg(index,Movies.currentMovies) / 10</p>
              <p style="font-size:14pt">Language: @Movies.originalLanguage(index, Movies.currentMovies)</p>
              <p style="font-size:14pt">You might also like:  </p>
                <div>
                  @for(i <- 0 to Movies.length(Movies.currentMovies) - 1) {
                      @if(Movies.genreIDs(i, Movies.currentMovies).toString().replace(",", "").replace("List(","").split(" ").
                              exists(Movies.genreIDs(index, Movies.currentMovies).toString().replace(",", "").replace("List(","").split(" ").contains)) {
                          @if(Movies.title(i,Movies.currentMovies) != Movies.title(index,Movies.currentMovies)) {
                              <a style="width:100px; margin-right:0.5%; margin-left:0.5%" href=@routes.Application.individualMovie(i,false,"")><img style="margin-bottom:20px" src = "http://image.tmdb.org/t/p/w640/@Movies.posterPath(i, Movies.currentMovies)" width="87px" height="130px"></a>
                          }
                      }
                  }
                </div>

            </div>
          </div>
        </div>
      }}else{
          <br>
          <div class="col-lg-12 text-left" style="background-color: rgba(255,255,255,0.5)">
            <div class = "row">
              <div>
                <img src = "http://image.tmdb.org/t/p/w640/@Movies.posterPath(0,Movies.filterList(searchString))">
              </div>
              <div style="width: 50px"></div>
              <div style="width: 350px">
                <h1>@Movies.title(0,Movies.filterList(searchString))</h1>
                <br>
                <p>@Movies.overview(0,Movies.filterList(searchString))</p>
                <br>
                @Movies.releaseData(0,Movies.filterList(searchString))
                <br>
              </div>
            </div>
          </div>
      }




    <!-- Bootstrap core JavaScript -->
    <script src="@routes.Assets.at("templates/Movie%20Page/vendor/jquery/jquery.min.js")"></script>
    <script src="@routes.Assets.at("templates/Movie%20Page/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>

  </body>

</html>
}
