@()(implicit messages: Messages, request: Request[AnyContent])

@main("Screens"){
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="@routes.Assets.at("templates/Bare/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-10 titleFormatting">Screens</h1>
          <div class="greyBoxes" style="text-align:center;padding-left:5rem;width:100%;padding:3rem;align-content:center;">
          <div class="row" style="width: 100%; background-color: rgba(0,0,0,0.5); margin-bottom: 5rem">
            <div style="width: 50%; padding: 0.5rem"><img border="0" alt='standard screen' src="@routes.Assets.at("images/mainScreen.jpg")" width="100%" height="350px"></div>
            <div style="width: 50%; padding: 0.5rem;"><img border="0" alt='standard screen' src="@routes.Assets.at("images/seatingArrangment.jpg")" width="100%" height="350px"></div>
            <div style="width: 50%; padding: 0.5rem;"><img border="0" alt='standard screen' src="@routes.Assets.at("images/directorsBox.jpg")" width="100%" height="350px"></div>
            <div style="width: 50%; padding: 0.5rem;"><img border="0" alt='standard screen' src="@routes.Assets.at("images/directorsBoxSeats.png")" width="100%" height="350px"></div>
            <div></div>
          </div>
          </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="@routes.Assets.at("templates/Bare/vendor/jquery/jquery.min.js")"></script>
    <script src="@routes.Assets.at("templates/Bare/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>

  </body>

</html>
}