@main("Screens"){
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="@routes.Assets.at("templates/Bare/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
            .center {
                margin: auto;
            }
      body {
        padding-top: 54px;
      }
      media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>

  </head>

  <body>

    <!-- Navigation -->


    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">Screens</h1>
          <p class="lead">Our specifically engineered screening environments</p>
            <img border="0" alt='standard screen' src="@routes.Assets.at("images/mainScreen.jpg")" width="810" height="540">
            <br>
            <br>
            <p class = "lead">The seats are arranged to give the optimal viewing experience no matter where your seat is located</p>
            <br>
          <img border="2" alt='seating arrangement' src="@routes.Assets.at("images/seatingArrangment.jpg")" width="850" height="500">
            <br>
            <br>
            <p class = "lead">We also provide a director's box for the ones that want to watch their movies in style and luxury</p>
            <br>
            <img border="0" alt='directors box' src="@routes.Assets.at("images/directorsBox.jpg")" width="850" height="500">
            <br>
            <br>
            <p class = "lead">Seating arrangement of director's box</p>
            <br>
            <img border="0" alt='directors box' src="@routes.Assets.at("images/directorsBoxSeats.png")" width="850" height="800">
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="@routes.Assets.at("templates/Bare/vendor/jquery/jquery.min.js")"></script>
    <script src="@routes.Assets.at("templates/Bare/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>

  </body>

</html>
}