@(booking:Booking)
@main("Ticket Booking"){
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="@routes.Assets.at("templates/Bare/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>

  </head>

  <body>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">Bookings</h1>
          <br>
          <br>
          <ul class = "col-lg-12 text-left">
            <li>Booking no: @booking._id</li>
            <li>Booker name: @booking.bookerName</li>
            <br>
            <li>Movie title: @booking.movieTitle</li>
            <li>Screen no: @booking.screenNo</li>
            <li>Movie time:@booking.movieTime</li>
            <br>
            <li>Ticket Infomation:</li>
              <ul>
                <li>@booking.noOfAdult x Adult (£11.00) = £@{booking.noOfAdult.toInt*11}.00 </li>
                <li>@booking.noOfChild x Child (£5.00) = £@(booking.noOfChild.toInt*5).00 </li>
                <li>@booking.noOfConcession x Child(£7.00) x Concession = £@(booking.noOfConcession.toInt*7).00</li>
                <li> Total price = £@((booking.noOfAdult.toInt*11) + (booking.noOfChild.toInt*5) + (booking.noOfConcession.toInt*7)).00</li>
              </ul>
          </ul>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="@routes.Assets.at("templates/Bare/vendor/jquery/jquery.min.js")"></script>
    <script src="@routes.Assets.at("templates/Bare/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>

  </body>

</html>
}
