
@(bookings:List[Booking], tickets:List[List[Tickets]], screening:List[Screening], movies:Movies)
@import scala.Predef;var adultCount= 0
@import scala.Predef;var childCount = 0
@import scala.Predef;var concessionCount = 0

@main("Ticket Booking"){
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="@routes.Assets.at("templates/Bare/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>

  </head>

  <body>

    <!-- Page Content -->
    <br>
    <div class="container" >
      <div style = "background-color: rgba(0,0,0,0.5)">
      <div class="row" >
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">Bookings</h1>
          <br>
          <br>
          @for((booking, index) <- bookings.zipWithIndex){
          <ul class = "col-lg-12 text-left">
            <ul>
            <li>Booking no: @booking._id</li>
            <li>Booker name: @booking.userID</li>
            <br>
            <li>Movie title: @movies.title(screening(index).movie_ID)</li>
            <li>Screen no: @screening(index).screenLocation</li>
            <li>Movie time:@screening(index).time</li>
            </ul>
            <br>
                @for(ticket <- tickets(index)){
                  @if(ticket.ticketType == "adult") @{adultCount = adultCount + 1}
                  @if(ticket.ticketType == "child") @{childCount = childCount+1}
                  @if(ticket.ticketType == "concession") @{concessionCount = concessionCount + 1}
                } <ul> Tickets
            <li>@adultCount x Adult (£11.00) = @{adultCount.toInt*11}.00</li>
            <li>@childCount x Adult (£11.00) = @{childCount.toInt*6}.00</li>
            <li>@concessionCount x Adult (£11.00) = @{concessionCount.toInt*7}.00</li>
            @{concessionCount = 0;childCount=0;adultCount=0}
            <li>Total Price = £@{adultCount.toInt*11+childCount.toInt*6+concessionCount.toInt*7}.00</li>
          </ul>
          </ul>}

        </div>
      </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="@routes.Assets.at("templates/Bare/vendor/jquery/jquery.min.js")"></script>
    <script src="@routes.Assets.at("templates/Bare/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>

  </body>

</html>
}
